* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    text-align: center;
}

html {
    /*Using the default font size of browsers (16px)*/
    font-size: 100%;
}

header {
    margin: 3rem;
}


.attendant {
    display: inline-block;
    margin: .2rem;
    padding: .2rem .5rem;
    font-size: 1.5rem;
    background-color: #515ffa;
    border-radius: .2rem;
}
.client {
    display: inline-block;
    margin: .2rem;
    padding: .2rem .5rem;
    font-size: 1.5rem;
    background-color: orangered;
    border-radius: 1rem;
}


.attendants-section {
    padding: .5rem;
    margin: 1rem auto;
    background-color: rgba(134, 157, 221, 0.3);
    width: 80%;
    max-width: 800px;
    height: 6rem;
    border-radius: 1rem;
}

.clients-attend-section {
    padding: .5rem;
    margin: 1rem auto;
    background-color: rgba(134, 157, 221, 0.3);
    width: 80%;
    max-width: 800px;
    height: 6rem;
    border-radius: 1rem;
}

.clients-queue-section {
    padding: .5rem;
    margin: 1rem auto;
    background-color: rgba(134, 157, 221, 0.3);
    width: 80%;
    max-width: 800px;
    height: 6rem;
    border-radius: 1rem;
}

