* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

html {
    /*Using the default font size of browsers (16px)*/
    font-size: 100%;
}

header {
    text-align: center;
}

.attendant {
    display: inline-block;
    margin: .2rem;
    padding: .2rem .5rem;
    font-size: 1.5rem;
    background-color: #515ffa;
}
.client {
    display: inline-block;
    margin: .2rem;
    padding: .2rem .5rem;
    font-size: 1.5rem;
    background-color: orangered;
}


.attendants-section {
    margin: auto;
    background-color: rgba(134, 157, 221, 0.3);
    width: 80%;
    max-width: 800px;
}

